body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.num{
   font-size:20vmin;
}

button{
    height:2rem;
    width:6rem;
    border-radius:1rem;
    margin-right:0.5rem;
}

#decrease:active{
    background-color:black;
    color:white;
}

#increase:active{
    background-color:goldenrod;
}


#reset:active{
    background-color:pink;
}

@media screen and (max-width:350px){
    button{
        width:5rem;
    }
}